/* Підключення фрифтів */
@import url("https://fonts.googleapis.com/css?family=Playfair+Display:regular,600,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=DM+Sans:regular,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Epilogue:regular,800&display=swap");

/* Скидання стилів */
@import url("reset.css");

body{
	font-family: "Playfair Display", serif;
	background-color: #DCDCDC;
	color: black;
}
.wrapper {
	min-height: 100%;
	overflow: hidden; /* clip */
}
.container {
	max-width: 1190px;
	margin-inline: auto;
	padding-inline: 15px;
	background-color: #ffffff;
	padding-block-end: 20px;
}
header .title {
	font-weight: 700;
	font-size: 25px;
	text-align: center;
	line-height: 1.5;
}
main .title {
	font-weight: 600;
	font-size: 20px;
	line-height: 1.5;
	margin-block-end: 20px;
}
.block {
	max-width: 200px;
	display: inline-block;
}
.block:not(:last-child) {
	margin-inline-end: 20px;
}
.content {
	margin-block-end: 20px;
}
.link {
	color: blue;
}
.link:hover {
	text-decoration: underline;
}
.link2 {
	color: white;
	padding: 15px;
	background-color: red;
	border-radius: 10px;
}
.link2 span {
	background: url("../img/icon2.png") left / 15px no-repeat;
	display: inline-block;
	padding-left: 20px;
}
.link2:hover span{
	text-decoration: underline;
	background: url("../img/icon1.png") left / 15px no-repeat;
}
.link2:active{
	color: black;
}
.link3 {
	color: blue;
}
.link3:hover {
	text-decoration: underline;
}
.link3:active {
	color: red;
}
.link4 {
	color: blue;
}
.link4:hover {
	text-decoration: underline;
}
.link4:active {
	color: red;
}
.link4:visited {
	color: darkorchid;
}
.link5 {
	color: blue;
}
.link5:hover {
	text-decoration: underline;
}
.link5:active {
	color: red;
}
.link5:focus-visible {
	outline: 1px dotted green;
}
.block2:target {
	background-color: #7A956B;
	color: #fff;
	padding: 15px;
}

.items {
	margin-left: -15px;
	margin-right: -15px;
	font-size: 0;
	margin-block-end: 20px;
}
.item {
	width: 50%;
	display: inline-block;
	font-size: 16px;
	padding-left: 15px;
	padding-right: 15px;
}
.title3 {
	text-align: center;
	font-weight: 600;
	font-size: 15px;
	line-height: 1.5;
	margin-block-end: 10px;
}
.items >:not(:nth-child(n+7)) {
	margin-block-end: 20px;
}
.text1 {
	background-color: rgba(128, 128, 128, 0.178);
	border: 2px solid rgba(128, 128, 128, 0.623);
	border-radius: 8px;
	max-height: 180px;
	overflow: auto;
}
.text1 p:first-child {
	color: red;
}
.text2 {
	background-color: rgba(128, 128, 128, 0.178);
	border: 2px solid rgba(128, 128, 128, 0.623);
	border-radius: 8px;
	max-height: 180px;
	overflow: auto;
}
.text2 p:first-of-type {
	color: red;
}
.text3 {
	background-color: rgba(128, 128, 128, 0.178);
	border: 2px solid rgba(128, 128, 128, 0.623);
	border-radius: 8px;
	max-height: 180px;
	overflow: auto;
}
.text3 p:last-child {
	color: red;
}
.text4 {
	background-color: rgba(128, 128, 128, 0.178);
	border: 2px solid rgba(128, 128, 128, 0.623);
	border-radius: 8px;
	max-height: 180px;
	overflow: auto;
}
.text4 p:last-of-type {
	color: red;
}
.text5 {
	background-color: rgba(128, 128, 128, 0.178);
	border: 2px solid rgba(128, 128, 128, 0.623);
	border-radius: 8px;
	max-height: 180px;
	overflow: auto;
}
.text5 p:nth-child(2) {
	color: red;
}
.text6 {
	background-color: rgba(128, 128, 128, 0.178);
	border: 2px solid rgba(128, 128, 128, 0.623);
	border-radius: 8px;
	max-height: 180px;
	overflow: auto;
}
.text6 p:not(.not-green) {
	color: rgb(3, 194, 3);
}
.text7 {
	background-color: rgba(128, 128, 128, 0.178);
	border: 2px solid rgba(128, 128, 128, 0.623);
	border-radius: 8px;
	max-height: 180px;
	overflow: auto;
}
.text7 p:not(:last-child) {
	margin-block-end: 10px;
}
.text8 {
	background-color: rgba(128, 128, 128, 0.178);
	border: 2px solid rgba(128, 128, 128, 0.623);
	border-radius: 8px;
	max-height: 180px;
	overflow: auto;
}
.text8:has(p) {
	background-color: yellow;
}
.text9::before {
	content: "ПРИВІТ!";
	color: red;
}
.text9::after {
	content: "БУВАЙ!";
	color: blue;
}
.text10::before {
	content: "";
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-top: 10px solid green;
}
.text10::after {
	content: "";
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-bottom: 10px solid green;
}
.block-3 >:not(:last-child) {
	margin-block-end: 20px;
}
.list_item:not(:last-child){
	margin-block-end: 20px;
}
.list_item::before {
	vertical-align: middle;
	content: "";
	width: 20px;
	height: 20px;
	margin-right: 10px;
	background: url("../img/check.svg") 0 0 / 20px no-repeat;
}
/*================================================= 1st =============================================*/
.homework1 {
	background-color: #FFF;
	padding-block-end: 20px;
}
.content_hw1 {
	background-color: #fff;
	font-family: "DM Sans", sans-serif;
	color: #6E6C83;
	font-size: 24px;
	line-height: 1.75; /* 42/24 */
	max-width: 660px;
	display: block;
	margin-inline: auto;
	padding-inline: 15px;
}
.block_hw1 {
	padding-block: 21px;
}
.text_hw1 {
	color: #4A3AFF;
	font-size: 20px;
	font-weight: 700;
	line-height: 1.1; /* 22/20 */
}
.title_hw1-1 {
	color: #1E1B39;
	font-size: 42px;
	font-weight: 700;
	line-height: 1.29; /* 54/42 */
}
.title_hw1-2 {
	color: #1E1B39;
	font-size: 42px;
	font-weight: 700;
	line-height: 1.29; /* 54/42 */
}
.title_hw1-3 {
	color: #1E1B39;
	font-size: 42px;
	font-weight: 700;
	line-height: 1.29; /* 54/42 */
}
.block_hw1:not(:last-child) {
	margin-block-end: 54px;
}
.block_hw1 > :not(:last-child) {
	margin-block-end: 8px;
}
.title_hw1-1::after {
	content: "";
	vertical-align: middle;
	width: 40px;
	height: 40px;
	background: url("../img/glass.png") 0 0 / 40px no-repeat;
}
.title_hw1-2::after {
	content: "";
	vertical-align: middle;
	width: 40px;
	height: 40px;
	background: url("../img/laptop.png") 0 0 / 40px no-repeat;
}
.title_hw1-3::after {
	content: "";
	vertical-align: middle;
	width: 40px;
	height: 40px;
	background: url("../img/rocket.png") 0 0 / 40px no-repeat;
}
/*============================================ 2nd ==============================================*/
.homework2 {
	background-color: #FFF;
	padding-block-end: 20px;
}
.content_hw2 {
	background-color: #F0F0F6;
	border-radius: 56px;
	font-family: "DM Sans", sans-serif;
	color: #1E1B39;
	font-size: 28px;
	font-weight: 700;
	line-height: 1.36; /* 38/28 */
	max-width: 543px;
	display: block;
	margin-inline: auto;
	padding-inline: 24px;
	padding-block: 24px 58px;
}
.block_hw2 {
	background-color: #4A3AFF;
	border-radius: 34px;
	text-align: center;
	padding-block: 45px;
	margin-block-end: 34px;
}
.top-text {
	color: #FFF;
	font-size: 30px;
	line-height: 1.07; /* 32/30 */
	margin-block-end: 2px;
}
.middle-text {
	color: #FFF;
	font-size: 116px;
	line-height: 1.03; /* 120/116 */
	margin-block-end: 6px;
}
.bottom-text {
	color: #FFF;
	font-size: 20px;
	line-height: 1.1; /* 22/20 */
}
.list_item2:not(:last-child) {
	margin-block-end: 26px;
}
.list_item2::before {
	content: "";
	vertical-align: middle;
	width: 36px;
	height: 36px;
	margin-inline-end: 14px;
	background: url("../img/circle.svg") 0 0 / 36px no-repeat;
}
.list_item2 {
	padding-inline-start: 12px;
}
/*========================================================= 3th ===============================================*/
.homework3 {
	background-color: #FDF0E9;
	padding-block: 20px;
}
.container_hw3 {
	max-width: 1200px;
	padding-inline: 15px;
	margin-inline: auto;
	font-size: 0;
}
.photo_container {
	max-width: 1000px;
	display: block;
	padding-inline: 15px;
	margin-inline: auto;
	font-size: 0;
	margin-block-end: 74px;
}
.main_photo {
	max-width: 970px;
}
.text_hw3 {
	font-family: "Epilogue", sans-serif;
	color: rgba(57, 20, 0, 0.64);
	font-size: 16px;
	line-height: 2; /* 32/16 */
	max-width: 600px;
	padding-inline: 15px;
	margin-inline: auto;
}
.blockhw3-1 {
	margin-block-end: 51px;
}
.some-text_hw3-1 {
	color: #391400;
	font-size: 20px;
	line-height: 1.6; /* 32/20 */
	margin-block-end: 32px;
}
.title-hw3 {
	color: #391400;
	font-size: 24px;
	font-weight: 700;
	line-height: 1.33; /* 32/24 */
	margin-block-end: 35px;
}
.some-text_hw3-2 {
	margin-block-end: 34px;
}
.list_hw3 {
	color: #391400;
	line-height: 2; /* 32/16 */
	margin-block-end: 32px;
}
.blockhw3-2 {
	margin-block-end: 65px;
}
.item_hw3::before {
	content: "";
	vertical-align: middle;
	width: 8px;
	height: 8px;
	margin-inline-end: 16px;
	background: url("../img/oval.svg") 0 0 / 8px no-repeat;
}
.some-text_hw3 {
	margin-block-end: 28px;
}
.some-text_hw3-3 {
	color: #391400;
	font-size: 20px;
	line-height: 1.6; /* 32/20 */
	padding: 42px 32px 32px 112px;
	background: #F9E5DA url("../img/shape.svg") 32px 40px / 48px no-repeat;
	margin-block-end: 76px;
}
.blockhw3-3 {
	margin-block-end: 69px;
}
/*============================================ Game ===========================================================*/
.game_bg {
	max-width: 1190px;
	margin-inline: auto;
	padding-inline: 15px;
	background: url("../img/fantasy.jpg");
	padding-block: 20px;
}
.game_block {
	max-width: 1100px;
	min-height: 612px;
	margin-inline: auto;
	font-size: 0;
}
.line01 {
	font-size: 16px;
	width: 50px;
	height: 50px;
	margin-inline: 540px;
	background-color: gold;
}
.line02 {
	margin-inline: 540px;
	width: 20px;
	height: 100px;
	background-color: #fff;
}
.line03 {
	margin-inline: 120px;
	width: 440px;
	height: 20px;
	display: inline-block;
	background-color: #7c330c;
}
.line04 {
	margin-left: 120px;
	width: 10px;
	height: 200px;
	background-color: #7A956B;
}
.line05 {
	margin-left: 120px;
	width: 600px;
	height: 20px;
	background-color: aqua;
}
.line06 {
	margin-left: 670px;
	width: 50px;
	height: 50px;
	background-color: burlywood;
}
.line07 {
	margin-left: 700px;
	width: 300px;
	height: 20px;
	background-color: blueviolet;
}
.line08 {
	margin-left: 990px;
	width: 10px;
	height: 150px;
	background-color: #ff0000;
}
.line09 {
	margin-left: 700px;
	width: 300px;
	height: 20px;
	background-color: blue;
}
.line10 {
	font-size: 16px;
	text-align: center;
	margin-left: 650px;
	width: 70px;
	height: 50px;
	background-color: gold;
}
/* .game_block:not(:first-child) {
	visibility: hidden;
} */
.line02 {
	visibility: hidden;
}
.line03 {
	visibility: hidden;
}
.line04 {
	visibility: hidden;
}
.line05 {
	visibility: hidden;
}
.line06 {
	visibility: hidden;
}
.line07 {
	visibility: hidden;
}
.line08 {
	visibility: hidden;
}
.line09 {
	visibility: hidden;
}
.line10 {
	visibility: hidden;
}
.line01:hover~.line02,
.line02:hover,
.line02:hover~.line03,
.line03:hover,
.line03:hover~.line04,
.line04:hover,
.line04:hover~.line05,
.line05:hover,
.line05:hover~.line06,
.line06:hover,
.line06:hover~.line07,
.line07:hover,
.line07:hover~.line08,
.line08:hover,
.line08:hover~.line09,
.line09:hover,
.line09:hover~.line10,
.line10:hover {
	visibility: visible;
}