/* Скидання стилів */
@import url("reset.css");

/* Локальне підключення шрифтів */
@import url("fonts.css");

body {
	font-family: "Lato", sans-serif;
	background-image: linear-gradient(0deg, rgba(14, 174, 237, 0) 50%, rgba(0, 255, 229, 1) 100%);
	background-repeat: no-repeat;
}

.main-title {
	font-size: 42px;
	font-weight: 800;
	color: black;
	text-align: center;
	margin-bottom: 30px;
}
.header {
	padding: 30px 0;
	margin-bottom: 20px;
}
.section-1 {
	max-width: 1180px;
	margin: 0 auto;
}
.item {
	font-size: 24px;
	font-weight: 500;
	background: url("../img/сheck_badge.svg") 0 0 no-repeat;
	padding-left: 44px;
	min-height: 32px;
	margin-bottom: 10px;
	line-height: 1.2;
}
.section-practice {
	max-width: 1180px;
	margin: 0 auto;
	margin-bottom: 60px;
}
.title {
	font-size: 24px;
	font-weight: 700;
	line-height: 1.25;
	text-align: center;
	color: #2F302C;
	margin-bottom: 5px;
}
.block {
	min-height: 150px;
	padding: 60px;
	margin-bottom: 15px;
}
.block {
	min-height: 150px;
	padding: 60px;
	margin-bottom: 15px;
	background-color: burlywood;
}
.block__image {
	background-image: url("../img/space.jpg");
}
.block__linear-gradient {
	background-image: linear-gradient(90deg, rgba(131, 58, 180, 1) 0%, rgba(253, 29, 29, 1) 50%, rgba(252, 176, 69, 1) 100%);
}
.block__repeat {
	min-height: 350px;
	background-image: url("../img/flowers_pattern.jpg");
	background-repeat: repeat;
}
.block__no-repeat {
	min-height: 350px;
	background-image: url("../img/flowers_pattern.jpg");
	background-repeat: no-repeat;
}
.block__repeat-x {
	min-height: 350px;
	background-image: url("../img/flowers_pattern.jpg");
	background-repeat: repeat-x;
}
.block__repeat-y {
	min-height: 350px;
	background-image: url("../img/flowers_pattern.jpg");
	background-repeat: repeat-y;
}
.block__position {
	background-image: url("../img/dog.jpg");
	background-repeat: no-repeat;
	background-position: 700px 10px;
}
.block__attachment {
	background-image: url("../img/space.jpg");
	background-attachment: fixed;
	background-position: center;
}
.block__size {
	background-image: url("../img/space.jpg");
	background-size: 300px 140px;
	background-repeat: no-repeat;
}
.block__contain {
	min-height: 500px;
	background-image: url("../img/space.jpg");
	background-size: contain;
	background-repeat: no-repeat;
}
.block__cover {
	background-image: url("../img/space.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}
.block__clip {
	background-position: center;
	background-size: cover;
	border: 5px dashed rgb(128, 0, 128);
	background-image: url("../img/space.jpg");
	background-clip: padding-box;
}
.block__clip-text {
	padding: 10px;
	font-size: 24px;
	background-image: url("../img/space.jpg");
	background-size: cover;
	background-clip: text;
	color: transparent;
	text-align: justify;
}
.block__background {
	background: url("../img/dog.jpg") no-repeat 70px 30px / 200px,
	url("../img/flowers_pattern.jpg") no-repeat right top / 400px,
	url("../img/space.jpg") no-repeat center / 200px,
	linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 35%, rgba(0, 212, 255, 1) 100%);
}
.block__border {
	border-top: 5px dashed red;
	border-right: 5px dotted blue;
	border-bottom: 7px double green;
	border-left: 8px solid yellow;
}
.block__outline {
	outline: 6px solid blue;
}
.block__radius {
	border-radius: 20px 30px 40px 90px;
}
.block__shadow {
box-shadow: 36px -20px 17px -6px rgba(210, 20, 188, 0.47);
}
.block__inset {
	box-shadow: inset 13px -20px 29px 6px rgba(20, 210, 153, 0.5);
}
.block__opacity {
	opacity: 0.4;
}
.block__hidden {
	visibility: hidden;
}
.block__multi-shade {
	border: 3px solid rgba(98, 0, 255, 0.452);
	border-radius: 20px;
	box-shadow: inset -1px -20px 29px 6px rgba(20, 67, 210, 0.5),
					0px -20px 39px 16px rgba(197, 20, 210, 0.5),
					6px 20px 39px 16px rgba(70, 210, 20, 0.5);
}
.section-list {
	max-width: 351px;
	margin: 0 auto 30px;
}
.card {
	padding: 16px 40px 16px;
}
.item__layout {
	background: url("../img/сheck_badge.svg") 0 0 no-repeat;
	margin-bottom: 15px;
	min-height: 32px;
	padding-left: 42px;
	padding-top: 4px;
	font-family: "Montserrat", sans-serif;
	font-size: 14px;
	font-weight: 600;
	line-height: 1.71; /* 24/14 */
	letter-spacing: 0.2px;
	color: #252B42;
}
.item__layout-grey {
	background: url("../img/check_badge_grey.svg") 0 0 no-repeat;
	margin-bottom: 15px;
	min-height: 32px;
	padding-left: 42px;
	padding-top: 4px;
	font-family: "Montserrat", sans-serif;
	font-size: 14px;
	font-weight: 600;
	line-height: 1.71; /* 24/14 */
	letter-spacing: 0.2px;
	color: #252B42;
}
.bg-section {
	padding-top: 114px;
	padding-bottom: 110px;
	background: url("../img/rectangle.jpg") left center / cover no-repeat, #d9d9d9;
}
.container {
	max-width: 1392px;
	margin: 0 auto;
}
.bg-section-content {
	max-width: 650px;
	margin-left: auto;
	font-family: "Lato", sans-serif;
	color: #2F302C;
}
.bg-section-label {
	margin-bottom: 20px;
	font-size: 20px;
	font-weight: 700;
	line-height: 1.4; /* 28/20 */
}
.bg-section-title {
	margin-bottom: 16px;
	font-family: "Montserrat", sans-serif;
	font-size: 96px;
	font-weight: 700;
	line-height: 1.04; /* 100/96 */
}
.bg-section-title span {
	font-weight: 800;
}
.bg-section-content p {
	font-weight: 500;
	line-height: 1.25; /* 20/16 */
	color: #7E7F7C;
}
.line {
	width: 100%;
	max-width: 308px;
	height: 1px;
	background-color: #2F302C;
	margin-bottom: 36px;
}
.bg-section-title + .bg-section-label {
	margin-top: 36px;
}
.footer {
	text-align: center;
	padding: 30px 0;
}
.footer h2 {
	font-size: 28px;
	font-weight: 800;
	color: rgb(0, 119, 128);
}
.link {
	padding: 5px;
	border: 1px solid rgb(0, 217, 255);
	border-radius: 10px;
	box-shadow: 3px 3px 3px rgb(0, 162, 255);
}
